<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<div th:replace="~{base :: navigation}"></div>
<h1 class="ml-4 text-center mx-auto"> Publish new post </h1>

<body>

<div class="container">
	<div class="card text-center mx-auto mt-5 ml-2" style="width: 70rem;">	
	
		<form  th:action="@{/postItem}" th:object="${postItemDto}" method="post">
		
			<div class="mx-auto row mb-4 mt-3">		
				<label for="titulo" class="col-sm-3 col-form-label "> Post title: </label>
				<input th:field="*{title}" class=" form-control col-sm-5 " placeholder="Post title"/>
				<small id="tituloAjuda" class="col-sm-3 form-text text-muted"> Choose a good title for your post</small>
				<div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			</div>			
			
			<div class="mx-auto row mb-3 mt-3">	
				<label for="text" class="col-sm-3"> Insert your text: </label>
				 <textarea class="form-control col-sm-7 rows" rows="11" th:field="*{text}" placeholder="Post text"/>
				<div class="alert alert-warning" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
			</div>
			
			<div class="mx-auto row mb-3 mt-3">	
				<label for="image" class="col-sm-3 col-form-label "> Post image (URL) </label>
				<input th:field="*{image}" class=" form-control col-sm-5 " placeholder="Image URL"/>
				<div class="alert alert-warning" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
			</div>
			
	
			<button type="submit" class="btn btn-secondary ml-5">Publish</button>
		
		</form>
	
	</div>
</div>
</body>

</html>