<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<div th:replace="~{base :: navegacao}"></div>

<body>

<div class="container">

	<div class="card">
	
		<form th:action="@{/cadastro}" th:object="${userDto}" method="post">
		
		<div class="mx-auto row mb-4 mt-3">		
			<label for="nome" class="col-sm-3 col-form-label "> Nome completo: </label>
			<input th:field="*{nome}" class=" form-control col-sm-4 " placeholder="nome"/>	
			<div class="alert alert-warning" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>	
		</div>		
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="email" class="col-sm-3 col-form-label "> E-mail </label>
			<input th:field="*{email}" class=" form-control col-sm-3 " placeholder="exemplo@email.com"/>		
			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>	
		</div>	
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="email" class="col-sm-3 col-form-label "> Senha </label>
			<input type="password" class="form-control col-sm-2" th:field="*{senha}" placeholder="senha">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>		
		</div>	
		
		<div class="mx-auto row mb-4 mt-3">
			<span th:if="${objeto} != null" > O e-mail já está cadastrado! </span>
		</div>		
			<button type="submit" class="btn btn-secondary ml-5 mb-3">Cadastrar</button>
		
		</form>	
	</div>

</div>

</body>
</html>