<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<div th:replace="~{base :: navigation}"></div>

<body>

<div class="container">

	<div class="card">
	
		<form th:action="@{/register}" th:object="${userDto}" method="post">
		
		<div class="mx-auto row mb-4 mt-3">		
			<label for="name" class="col-sm-3 col-form-label "> Your name: </label>
			<input th:field="*{name}" class=" form-control col-sm-4 " placeholder="Name"/>
			<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		</div>		
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="email" class="col-sm-3 col-form-label "> E-mail </label>
			<input th:field="*{email}" class=" form-control col-sm-3 " placeholder="example@email.com"/>
			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>	
		</div>	
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="password" class="col-sm-3 col-form-label "> Password </label>
			<input type="password" class="form-control col-sm-2" th:field="*{passphrase}" placeholder="Password">
			<div class="alert alert-warning" th:if="${#fields.hasErrors('passphrase')}" th:errors="*{passphrase}"></div>
		</div>	
		
		<div class="mx-auto row mb-4 mt-3">
			<span th:if="${object} != null" > This e-mail is already used! </span>
		</div>		
			<button type="submit" class="btn btn-secondary ml-5 mb-3">Create account</button>
		
		</form>	
	</div>

</div>

</body>
</html>