<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<div th:replace="~{base :: navegacao}"></div>

<body>

<div class="container">

	<div class="card">
	
		<form th:action="@{/cadastro/completo}" th:object="${requisicaoNovoUser}" method="post">
		
		<div class="mx-auto row mb-4 mt-3">		
			<label for="nomeAutor" class="col-sm-3 col-form-label "> Nome completo: </label>
			<input th:field="*{nomeAutor}" class=" form-control col-sm-5 " placeholder="nome"/>		
		</div>		
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="email" class="col-sm-3 col-form-label "> Email </label>
			<input th:field="*{email}" class=" form-control col-sm-5 " placeholder="email"/>		
		</div>	
			
		<div class="mx-auto row mb-4 mt-3">		
			<label for="email" class="col-sm-3 col-form-label "> Senha </label>
			<input type="password" class="form-control col-sm-2 " name="senha">
		</div>	
			
				
	
	
			<button type="submit" class="btn btn-secondary ml-5 mb-3">Cadastrar</button>
		
		</form>
	
	</div>


</div>

</body>
</html>