<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<div th:replace="~{base :: navegacao}"></div>
<h1 class="ml-4"> Cadastrar nova noticia</h1>

<body>

	<form th:action="@{/noticia/nova}" th:object="${requisicaoNovaNoticia}" method="post">
		<div class="form-group col-5">		
			<label for="titulo"> Título da notícia: </label>
			<input th:field="*{titulo}" class="form-control" placeholder="Título"/>
			<small id="tituloAjuda" class="form-text text-muted"> Escolha um título chamativo que destaque sua notícia</small>
		</div>	
	
		<div class="form-group col-3">
			<label for="nomeAutor"> Nome do autor: </label>
			<input th:field="*{nomeAutor}" class="form-control" placeholder="nome do autor"/>
		</div>
				
		<div class="form-group col-5">	
			<label for="texto"> Digite o texto: </label>
			<textarea class="form-control" th:field="*{texto}" placeholder="texto da noticia"/>
		</div>

		<button type="submit" class="btn btn-secondary ml-5">Publicar</button>
	
	</form>


</body>

</html>