<head th:fragment="head">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<nav th:fragment="navegacao" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark mb-3">
		<a style= "color: #ffffff; font-size: 25" class="nav-brand mr-5"> BearBlog</a>
		<a style="color: #ffffff" class="nav-link" href="/home">Início</a>
		<a style="color: #ffffff" class="nav-link" href="/noticia/formulario">Publicar</a>
	</nav>
</body>